<h1>About Doit</h1>
<p>Doit is an application that will help you to be more productive everyday. 
  It does this by allowing to see a birds eye view of everything that you need 
  to get done. You place the tasks that you are currently working on "In Progress", 
  then move them to "Done" when they are completed.</p>
